@import '../../assets/scss/normalize.scss';

button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: $font-secondary;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background: #4676d7;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
}
