@import '../../assets/scss/normalize.scss';
.page_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  min-height: 72px;
  background-color: $secondary-color;
  border-top: 0.01px solid;
}
