@import '../../assets/scss/normalize.scss';
.page_wrapper {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 100%;
  min-height: 1500px;
  flex: 0 1 auto;
  color: $font-primary;
  background-color: $primary-color;
}

.section_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content_wrapper {
  padding: 10px;
  height: 100%;
}
