@import '../../assets/scss/normalize.scss';
.page_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  min-height: 60px;
  background-color: $secondary-color;
  border-bottom: 0.01px solid;
}
